<div class="about">
   <div class="about__side about__side--1">
       <div class="about__picture">
           <img src="/img/Capture.jpg" alt="CEO" class="about__pic">
       </div>
       <div class="about__content">
           <ul class="about__list">
               <li class="about__item">Loi Le</li>
               <li class="about__item">full stack web Developer</li>
               <li class="about__item">Angular, React, NodeJs</li>
               <li class="about__item">loipinellaspark@gmail.com</li>
               <li class="about__item">727 - 301 - 4801</li>
           </ul>
       </div>
   </div>
   <div class="about__side about__side--2">
       <div class="background about__video">
            <video class="background__video" autoplay muted loop>
                <source src="/img/snow-background/flower.mp4" type="video/mp4">
            </video>
        </div>
       <h3 class="about__message">
           Life is so beautiful when you smile
       </h3>
        <span class="about__auth">Loi Le</span>
   </div>
</div>