<div class="search" id="searchId">
    <h3 class="search__text">Search for the weather where you live</h3>
    <div class="search__form">
       <div class="search__box">
            <input type="text"  class="search__input" id="nation" required autocomplete="off">
            <label for="nation" class="search__label">* Country</label>
       </div>
        <div class="search__box">
            <input type="text"  class="search__input" id="state" required autocomplete="off">
            <label for="state" class="search__label">* State</label>
       </div>
        <div class="search__box">
            <input type="text" class="search__input" id="city" required autocomplete="off">
            <label for="city" class="search__label">* City</label>
       </div>
    </div>
    <div class="weather__reset">
           <button class="search__submit--btn" id="submitId">Request</button>
    </div>
</div>