<div class="signup">
    <h3 class="signup__text">Log In</h3>
    <form action="#" class="signup__form">
        <div class="signup__box">
            <input type="text" class="signup__input" id="email" autocomplete="off" placeholder="Email" required>
            <label for="email" class="signup__label">Email</label>
        </div>
        <div class="signup__box">
            <input type="password" class="signup__input" id="password" autocomplete="off" placeholder="PassWord" required>
            <label for="password" class="signup__label">PassWord</label>
        </div>
        <div class="signup__submit">
            <a href="#" class="search__submit--btn navigation__link signup__btn" id="loginId">Submit</a>
        </div>
    </form>
</div>