<div class="signup">
    <h3 class="signup__text">Sign Up</h3>
    <form action="#" class="signup__form">
        <div class="signup__box">
            <div class="signup__name">
                <input type="text" class="signup__input" id="firstName" autocomplete="off" placeholder="First Name" required>
                <label for="firstName" class="signup__label">First Name</label>
            </div>
            <div class="signup__name">
                <input type="text" class="signup__input" id="lastName" autocomplete="off" placeholder="Last Name" required>
                <label for="lastName" class="signup__label">Last Name</label>
            </div>
        </div>
        <div class="signup__box">
            <input type="text" class="signup__input" id="email" autocomplete="off" placeholder="Email" required>
            <label for="email" class="signup__label">Email</label>
        </div>
        <div class="signup__box">
            <input type="password" class="signup__input" id="password" autocomplete="off" placeholder="PassWord" required>
            <label for="password" class="signup__label">PassWord</label>
        </div>
        <div class="signup__box">
            <input type="password" class="signup__input" id="repeatPassword" autocomplete="off" placeholder="Repeat PassWord" required>
            <label for="repeatPassword" class="signup__label">Repeat PassWord</label>
        </div>
        <div class="signup__submit">
            <a href="#" class="search__submit--btn navigation__link signup__btn" id="signupId">Submit</a>
        </div>
    </form>
</div>