
.loading {
    @include alignCenter;
    text-align: center;
    display: none;
    &__loader {
        display: inline-block;
        border: 16px solid transparent;
        border-radius: 50%;
        border-top: 16px solid rgba(blue, .6);
        border-bottom: 16px solid rgba(blue, .6);
        width: 180px;
        height: 180px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
}